@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-size-default: 16px;
  --font-family-default: Helvetica, Arial, sans-serif;
}

body {
  font-size: var(--font-size-default);
  font-family: var(--font-family-default);
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
  background-size: cover;
  color: #333;
}

#root {
  min-height: 100vh;
}
